.kaufman-triangle {
  position: absolute;
  right: -210px;
  top: 0;
  size: 877px 877px;
  animation-name: rotation;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: -1;
}
